.search-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px auto;
}

.search-container input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid #e0e0e0;
  outline: none;
  transition: 0.25s;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.search-container input:focus {
  border-color: #4dabf7;
  box-shadow: 0 4px 16px rgba(77, 171, 247, 0.25);
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 10px 0;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.load-more-container button {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  background: rgba(227, 227, 15, 0.784);
  color: rgb(15, 12, 12);
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.load-more-container button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.load-more-container button:active {
  transform: scale(0.97);
}
