<div class="search-container">
  <input
    type="text"
    placeholder="Search Pokémon..."
    (input)="onSearch($event)"
    class="pokemon-search-input"
  />
</div>

@if (error$ | async; as error) {
  <div class="error-message">
    Error: {{ error }}
  </div>
}

<div class="pokemon-list-grid">
  @if (pokemons$ | async; as pokemons) {
    @for (p of getFilteredPokemons(pokemons); track p.name) {
      <a [routerLink]="['/pokemon', p.id]">
        <app-pokemon-card [pokemon]="p"></app-pokemon-card>
      </a>
    }
    
    @if (pokemons.length === 0 && !(loading$ | async)) {
       <p class="text-center w-full">No Pokémon loaded.</p>
    }
  }
</div>

<div class="load-more-container">
  <button 
    (click)="loadMore()" 
    [disabled]="loading$ | async" 
    class="load-more-button"
  >
    @if (loading$ | async) {
      Loading...
    } @else {
      Load More
    }
  </button>
</div>