.navbar {
  background-color: #222; 
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  align-items: center; 
}

.spacer {
  flex-grow: 1; 
}

.nav-links a, .auth-links a, .auth-links button, .auth-links span {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  margin-left: 10px; 
  border-radius: 5px;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links, .auth-links {
    display: flex;
    align-items: center;
}

.navbar a.active {
  color: #ffcb05; 
  border-bottom: 2px solid #ffcb05;
}

.logout-btn {
  background-color: transparent; 
  border: 1px solid #ffcb05; 
  color: #ffcb05;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: rgba(255, 203, 5, 0.1);
}

.user-email {
  font-size: 14px;
  padding: 0 10px;
  color: #c0c0c0;
}