.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://wallpapercave.com/wp/wp2464036.png');
  background-size: cover;
  background-position: center;
}

.login-card {
  width: 360px;
  padding: 35px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  backdrop-filter: blur(3px);
  border: 4px solid #ffcb05;
}

.logo {
  width: 170px;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 12px;
  border: 2px solid #3b4cca;
  font-size: 16px;
  outline: none;
}

.form-input:focus {
  border-color: #ff0000;
}

.pokeball-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: linear-gradient(#ff0000 50%, white 50%);
  border: 4px solid black;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
}

.pokeball-btn:hover {
  transform: scale(1.05);
}

.error {
  color: red;
  margin-top: 10px;
}
