<div class="home">
 <svg class="pokeball-bg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">

  <!-- Внешняя окружность + нижняя красная половина -->
  <circle cx="50" cy="50" r="30" fill="#FF0000" stroke="#000000" stroke-width="3"/>

  <!-- Верхняя белая половина -->
  <path d="M20 50 A30 30 0 0 1 80 50 L80 50 A30 30 0 0 0 20 50 Z"
        fill="#FFFFFF" stroke="none"/>

  <!-- Чёрная полоса -->
  <rect x="20" y="47" width="60" height="6" rx="3" fill="#000000"/>

  <!-- Центральное кольцо -->
  <circle cx="50" cy="50" r="9" fill="#FFFFFF" stroke="#000000" stroke-width="2"/>

  <!-- Внутренняя кнопка -->
  <circle cx="50" cy="50" r="4" fill="#000000"/>

</svg>




  <h1>Welcome to Pokédex</h1>
  <p>Explore Pokémon from all generations!</p>
  <a routerLink="/pokemons" class="btn">View Pokemons</a>
</div>
